@page "/admin/import"

<PageTitle>Import</PageTitle>

<MudBreadcrumbs Items="_crumbs"></MudBreadcrumbs>

<MudText Typo="Typo.h6" Class="">File Imports</MudText>
<MudText Typo="Typo.body1" Class="mb-5">Use this page to manage JSON file imports.</MudText>

@if (_savedUploads.Any())
{
    <MudPaper>
        <MudText Color="Color.Info" Typo="Typo.body1" Class="mt-3 mb-n3">The following uploads were saved:</MudText>
        <MudList Dense Class="mx-5">
            @foreach (var upload in _savedUploads)
            {
                <MudListItem Icon="@Icons.Material.Rounded.Apps" Dense="true">@($"{upload.FileName} - ({upload.FileBytes.Length} bytes)")</MudListItem>
            }
        </MudList>
    </MudPaper>
    <MudText Class="mt-5" Typo="Typo.body2">These @(_savedUploads.Count() == 1 ? "file" : "files") are now in the system and can be seen by going to the Configurations page.</MudText>
    <MudButton Class="mt-3" Color="Color.Tertiary" Variant="Variant.Outlined" OnClick="@(() => NavigationManager.NavigateTo("/admin/configurations"))">Go To Configurations</MudButton>
}
else
{
    @if (_pendingUploads.Any())
    {
        <MudText Typo="Typo.caption" Color="Color.Info" Class="">Once a file is uploaded, use the grid below to edit the details.</MudText>
    }

    <MudTable Items="_pendingUploads"
              Class="my-5"
              CanCancelEdit
              EditButtonPosition="TableEditButtonPosition.End"
              ApplyButtonPosition="TableApplyButtonPosition.End"
              EditTrigger="TableEditTrigger.EditButton"
              Dense
              Striped
              Hover>
        <ToolBarContent>
            <MudFileUpload T="IBrowserFile"
                           Accept=".json"
                           FilesChanged="OnFilesChangedAsync" MaximumFileCount="10">
                <ButtonTemplate>
                    <MudButton HtmlTag="label"
                               Variant="Variant.Filled"
                               Color="Color.Secondary"
                               StartIcon="@Icons.Filled.CloudUpload"
                               for="@context">
                        Upload JSON File(s)
                    </MudButton>
                </ButtonTemplate>
            </MudFileUpload>
            <MudSpacer />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>File</MudTh>
            <MudTh>Length (in bytes)</MudTh>
            <MudTh>Application</MudTh>
            <MudTh>Environment</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="File">@context.FileName</MudTd>
            <MudTd DataLabel="Length (in bytes)">@context.FileBytes.Length</MudTd>
            <MudTd DataLabel="Application">@context.ApplicationName</MudTd>
            <MudTd DataLabel="Environment">@context.EnvironmentName</MudTd>
        </RowTemplate>
        <RowEditingTemplate>
            <MudTd DataLabel="File">@context.FileName</MudTd>
            <MudTd DataLabel="Length (in bytes)">@context.FileBytes.Length</MudTd>
            <MudTd DataLabel="Application">
                <MudTextField @bind-Value="@context.ApplicationName" Required />
            </MudTd>
            <MudTd DataLabel="Environment">
                <MudTextField @bind-Value="@context.EnvironmentName" />
            </MudTd>
        </RowEditingTemplate>
        <NoRecordsContent>
            No unsaved uploads were found.
        </NoRecordsContent>
    </MudTable>

    @if (_pendingUploads.Any())
    {
        <MudText Color="Color.Info" Typo="Typo.caption">Press the 'Save Uploads' button to save the changes, or press the 'Clear Uploads' button to start over.</MudText>
        <div class="my-5">
            <MudButton Variant="Variant.Outlined" OnClick="@(() => _pendingUploads.Clear())">Clear Uploads</MudButton>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="SaveUploadsAsync">Save Uploads</MudButton>
        </div>
    }
}

